body {
  font-size: 16px;
  font-family: "Libre Baskerville", serif;
  background-color: bisque;
  background-image: url("/../assets/images/90329.png");
  background-size: contain;
  margin: auto;
  display: flex;
  justify-content: center;

  /* <a href="https://www.freepik.com/free-psd/paper-mockup-design-background_4219876.htm#page=1&query=old%20paper&position=3">Image by rawpixel.com</a> on Freepik */
}

a {
  /* border: 3px solid black; */
  padding: 5px 8px 5px 8px;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

h3 {
  text-align: center;
}

button {
  width: 75px;
  border: 3px solid black;
}

.bookTitle,
.author,
.movieTitle {
  height: 30px;
  width: 300px;
  border: 3px solid black;
}

.title {
  margin-left: 25px;
  font-weight: bolder;
}

.container1 {
  background-color: white;
  opacity: 85%;
  width: 1024px;
}

.container2 {
  text-align: center;
  border: 3px solid black;
  margin: 20px;
  height: 500px;
}

.bookSearch {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container3 {
  display: flex;
  margin: 15px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.movieInfo,
.movieReviews,
.image {
  border: 3px solid black;
  width: 250px;
  height: 250px;
}

.movieSearch {
  display: flex;
  justify-content: center;
}

.title,
.author,
.movieTitle {
  margin-inline: 5px;
}

.footer {
  text-align: right;
  margin-right: 25px;
}

#movie-container {
  padding: 5px;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  margin: 0;
}
